<h1 class="sub-header">Create a Group!</h1>
<h1>Because, this:</h1>
<%= image_tag "white_elephant_gift.gif" %>

<% if user_signed_in? %>
  <%= form_for(@group) do |form| %>
    <div class="field column small-12">
      <%= form.label :name, "Group Name", class: "text-input-label" %><br>
      <%= form.text_field :name, class: "text-input-field", placeholder: @group.name %>
    </div>
    <br>
    <div class="field column small-12">
      <%= form.label :description, class: "text-input-label" %><br>
      <%= form.text_field :description, class: "text-input-field", placeholder: @group.description%>
    </div>

    <br>
    <div class="actions">
      <%= form.submit "Create this Group!", class: "crud-buttons button expand round medium" %>
    </div>
  <% end %>
<% else %>
  <h3>Please <%= link_to 'Sign Up', new_user_registration_path %> or
  <%= link_to 'Sign In', new_user_session_path %></h3>
<% end %>
